@use '../abstracts/' as *;

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-transform: uppercase;
	background: $color-secondary;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.75rem;

		nav {
			ul {
				display: flex;
				gap: 2rem;
			}

			a {
				color: $color-text-light;
				transition: 0.3s;

				&:hover {
					color: $color-secondary-dark;
				}
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		svg {
			font-size: 1.5rem;
			font-weight: 400;
			color: $color-text-light;
		}

		h1 {
			font-size: 1.5rem;
			letter-spacing: 1.5px;
			color: $color-text-light;
		}
	}

	&__auth {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 0.7rem;

		div {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			svg {
				color: $color-secondary-dark;
			}

			a {
				color: $color-text-light;
				transition: 0.3s;

				&:hover {
					color: $color-secondary-dark;
				}
			}
		}
	}
}
