@use '../../abstracts/' as *;

.dashboard {
	height: 120vh;
	background: #cdf5e3;

	&__wrapper {
		height: 120vh;
		padding-top: 7rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		color: $color-text-dark;

		div {
			background: $color-primary-light;
			padding: 1rem;
			border-radius: 20px;
			box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.247);
		}

		> div:nth-child(2) {
			background: none;
			box-shadow: none;
		}

		&-title {
			h2 {
				font-size: 2rem;
				font-weight: 500;
				margin-bottom: 1.5rem;

				strong{
					color: $color-secondary;
					font-weight: 600;
					text-transform: capitalize;
				}
			}
		}

		&-cards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			gap: 2rem;

			div {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 1rem;

				h3 {
					color: $color-secondary;
					font-size: 1.6rem;
					font-weight: 500;
				}

				a {
					display: inline-block;
					color: $color-secondary;

					&:hover{
						text-decoration: underline;	
					}
				}
			}

			div:nth-child(3) {
				/* grid-row: 1/3; */

				a {
					margin-top: auto;
				}
			}
		}
	}
}
